<div style="margin-top:5%">
  <img src="https://www.humanrightslogo.net/sites/default/files/HRLogoCMYKsmallRGB.png" alt="" style="height: 37px;
  width: 49px;"/>
<h3>Logo</h3>

<div class="sidebar-list">
<ul  style="list-style-type: none;margin-top: 70px;">
  <li><i class="fa fa-folder-o" aria-hidden="true"></i>
    <a style="color: black;font-weight: bold;" class="sidebar-headings" routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a></li>
  <li>
    <i class="fa fa-folder-o" aria-hidden="true"></i>
    <a class="sidebar-headings" routerLink="/classes" routerLinkActive="active" ariaCurrentWhenActive="page">Classes</a></li>
  <li>
    <i class="fa fa-clone" aria-hidden="true"></i>
    <a class="sidebar-headings" routerLink="/resources" routerLinkActive="active" ariaCurrentWhenActive="page">Resources</a></li>
    <li>
    <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
    <a class="sidebar-headings" routerLink="/learning-plan" routerLinkActive="active" ariaCurrentWhenActive="page">Learning plan</a></li>
  <li>
    <i class="fa fa-inbox" aria-hidden="true"></i>
    <a class="sidebar-headings" routerLink="/chat" routerLinkActive="active" ariaCurrentWhenActive="page">Chat</a></li>
  <li>
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <a class="sidebar-headings" routerLink="/setting" routerLinkActive="active" ariaCurrentWhenActive="page">Settings</a></li>
</ul>

</div>


<div class="container-box" style="background-color: #dfdfdf;
width: 250px;
height: 140px;margin: 17%;    border-radius: 19px;

">

  <p style="    padding: 27px;
  ">Upgrade to <strong>Pro</strong> for more resources.</p>
  <button class="btn btn-primary" style="margin-top: -41px;
  margin-left: 26%;
">Upgrade</button>

</div></div>
