.sidebar-headings{
text-decoration: none;
}
.fa{
  margin-right:30px;
}

li{
  font-size: 20px;
  margin-bottom: 4rem;
  color: gray;
}

.dashb{
  color: black;
  font-weight: bold;
}

li a{
  color: gray;

}
h3{
  color: black;
  font-weight: bold;
  margin-left: 3rem;
  margin-top: -36px;

}
