<div class="container" style="background-color: #dddddd;margin-top: 15%">
  <h3 class="">Dashboard</h3>
  <span class="date">20 Sept 2019, Friday</span>
  <div class="welcome-content">
    <img src="https://i.pinimg.com/736x/b7/b1/38/b7b138495126b90b35855af28716a610.jpg" />
    <h4>Welcome Back Anna</h4>
    <p>
      You have learnt <strong>80%</strong> of your goal this week! <br>
      keep it up and improve your result.
    </p>
  </div>
  <div style="display:flex;">
    <app-latest-results></app-latest-results>
    <app-time-spent-on-learning></app-time-spent-on-learning>
  </div>
  <app-footer></app-footer>
</div>
