p{
  padding-left: 27px;
  padding-bottom: 28px;
  color: black;

}

h4{
  padding: 26px;
  color: #e50a3c;
  font-weight: bold;
}
h3
{
  font-weight: bold;
  margin-left: 3rem;
  margin-top:-17px;
}

img{
  height: 150px;
  width: 227px;
  float: right;
  margin-top: -28px;
  margin-right: 76px;
}

.date{
  float: right;
margin-top: -37px;
}

.welcome-content{
margin: 44px 7%;
background-color: antiquewhite;
border-radius: 14px
}
