
<div class="d-flex">
  <h3 class="header"><strong> Your Courses</strong></h3>
<!-- <span class="mt-2 more">More </span>
<i class="fa fa-arrow-right mt-2" aria-hidden="true" style="margin-left: -65;margin-top: 7%;"></i> -->
</div>
<div class="your-courses-footer d-flex">
  <div class="grammar">
  <div class="d-flex">
    <div class="b2">B2</div>
    <div>
      <label for=""> Business English</label>
      <span>Grammar</span>
      <i class="fa fa-arrow-right" aria-hidden="true"></i>

    </div>
  </div>
  </div>

  <div class="phrasal">
  <div class="d-flex">
    <div class="b2">B2</div>
    <div>
      <label for=""> Business English</label>
      <span>Grammar</span>
      <i class="fa fa-arrow-right" aria-hidden="true"></i>


    </div>
  </div>
</div>

  <div class="vocab">
  <div class="d-flex">
    <div class="b2">B2</div>
    <div>
      <label for=""> Business English</label>
      <span>Grammar</span>
      <i class="fa fa-arrow-right" aria-hidden="true"></i>

    </div>
  </div>
  </div>
</div>
